header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(53, 49, 49);
    padding: 1% 1%;
}
header h1 {
    color: rgb(199, 6, 199);
    background-color: rgb(53, 49, 49);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;

}

nav a {
    font-weight: bold;
    color: rgb(199, 6, 199);
    justify-content: space-between;
    margin: 15px;
}

nav a:hover {
    background-color: black;
    font-size: 200%;
    cursor: pointer;

}